APP_NAME="mini-RAG"
APP_VERSION="0.1"
OPENAI_API_KEY=""
FILE_ALLOWED_TYPES=['text_plain','application/pdf']
FILE_MAX_SIZE=10

#=====================LLM Config===========================#
GENERATION_BACKEND = "GROQ"
EMBEDDING_BACKEND = "COHERE"

GROQ_API_KEY=
COHERE_API_KEY=

GENERATION_MODEL_ID="llama3-8b-8192"
EMBEDDING_MODEL_ID="embed-multilingual-light-v3.0"
EMBEDDING_MODEL_SIZE=384

INPUT_DAFAULT_MAX_CHARACTERS=1024
GENERATION_DAFAULT_MAX_TOKENS=200
GENERATION_DAFAULT_TEMPERATURE=0.1