fastapi==0.129.1
uvicorn[standard]==0.41.0
python-multipart==0.0.22
python-dotenv==1.2.1
pydantic-settings==2.13.1
aiofiles==25.1.0
langchain==1.2.10
PyMuPDF==1.27.1
langchain-community==0.4.1
motor==3.7.1
openai==2.43.0
cohere==7.0.4
groq==1.5.0
qdrant-client==1.18.0
